.inline
{
    display: inline-block;
}



.nav-item
{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.my-navbar
{
    margin: 0;
    padding: 0;
    font-size: 12px;
}



/* @media(min-width: 400px )
{
    .nav-item
    {
        background: white;
    }
    
} */
/* @media(min-width: )
{
    
} */
